/* место для вашего кода */
.body {
  font-family: Raleway, Arial;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  padding: 91px 50px 96px 50px;
}

.header__menu {
  top: 133px;
  left: 50px;
  width: 391.48px;
  height: 22px;
}

.header__menu .header__links-list {
  display: flex;
  list-style: circle;
  justify-content: start;
  gap: 32px;
}

.header__links-list-item_no-bullit {  
  list-style: none;
  text-decoration: none;
}

.header__links-list-item {
  letter-spacing: 1px;
}

.header__logo {
  top: 92px;
  left: 478px;
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  font-style: normal;
  gap: 1px;
  max-width: 240px;
  top: 95px;
  left: 810px;
  width: 240px;
  height: 98px;
  border-width: 1px;
}

.header__address{

}

.telefone {
  width: 239.48px;
  height: 24px;
  top: 95px;
  left: 810.52px;
  border-width: 1px;
  
}

.email {
  width: 239.48px;
  height: 24px;
  top: 119px;
  left: 810px;
  border-width: 1px;
  
}

.main-adress {
  width: 236.49px;
  height: 49px;
  top: 144px;
  left: 811px;
  
}

.cover {
  /*top: 293px;*/
  width: 1100px;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.lots {
  top: 1230px;
  left: 24px;
  width: 1052px;
  height: 723px;
}

.about {
  top: 2073px;
  left: 24px;
  width: 1052px;
  height: 595px;
}

.description-block {
  width: 693px;
height: 312px;
top: 150px;

}

.logo-column {
  width: 240px;
height: 240px;
top: 35px;
left: 47px;
background-color: black;

}

.logo-white {
  width: 148px;
height: 114px;
top: 64px;
left: 46.48px;
}

.footer {
  top: 2848px;
  width: 1100px;
  height: 180px;
}
