/* место для вашего кода */
.body {
  font-family: Raleway, Arial, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  padding: 92px 50px 92px 50px;
}

.header__menu {
  width: 391.48px;
  height: 22px;
}

.header__menu .header__links-list {
  display: flex;
  /*justify-content: space-between;*/
  justify-content: start;
  gap: 31px;
  list-style: circle;
}

.header__links-list-item {
  font-style: normal;
  letter-spacing: 1.2px;
}

.li_without_marker { /*сделал так, потому что встречается в разных классах, не стал привязывать "header__links-list-item"*/
  list-style: none;
}

.link_without_underline {/*тут аналогично*/
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  font-size: 18px;
  font-style: normal;
}

.header__address {
  justify-self: end;
  gap: 0.5px;
  width: 240px;
  max-width: 240px;
  border-width: 1px;
}

.telefone {
  width: 239.48px;
  border-width: 1px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.email {
  width: 239.48px;
  border-width: 1px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.main__address {
  width: 236.49px;
  border-width: 1px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.cover {
  position: relative;
  z-index: -1;
  /*top: 293px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1100px;
  height: 757px; /*тут оставил высоту т.к. это высота всей секции и в 1 спринте в теме 12 уроке 2 шаг 5 сказано Хорошим подходом будет сначала сверстать обложку примерно, а потом уточнить размеры через наложение изображения в плагине Pixel Perfect для браузера.*/
  padding: 165px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;
  width: 1000px;
}

.cover-title-text {
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  justify-self: flex-start;
  align-self: flex-start;
  width: 286px;
}

.aligned-text_center {
  justify-self: center;
  align-self: center;
  width: 339px;
}

.aligned-text_right {
  justify-self: flex-end;
  align-self: flex-end;
  width: 387px;
}

.white-text {
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  border-width: 1px;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 3px;
}

.cover__description-text {
  /*width: 637px;
height: 28px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1px;
  word-spacing: 18px;
  white-space: nowrap;
}

.bet-button {
  z-index: 1;
  width: 256px;
  height: 51px;
  border-width: 1px;
  border-color: white;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1052px;
  margin: 180px 24px 0 24px;
}

.lots_section_header {
  width: 121px;
  padding-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  margin-top: 27px;
}

.lot {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lot__header {
  z-index: 1;
  width: 254px;
  margin: 48px 40px 0 40px;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.lot__description {
  z-index: 1;
  width: 254px;
  margin: 0 40px 48px 40px;
  font-size: 20px;
}

.card {
  z-index: 1;
  width: 334px;
  height: 596px; /*тут оставил высоту т.к. это высота карточки*/
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  /*position: relative;*/
  width: 192px;
  margin: 30px 40px 0 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px max-content;
  width: 1052px;
  margin: 120px 24px 0 24px;
}

.logo__column {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: black;
}

.logo__white {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  width: 693px;
  margin-top: 133px;
  margin-right: 24px;
  margin-left: 24px;
}

.about__title {
  margin-top: 3px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  width: 693px;
  font-size: 20px;
}

.top__about {
  width: 688px;
  margin-top: 100px;
  margin-bottom: 24px;
}

.description__block {
  width: 693px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  margin-top: 180px;
}

.footer__address {
  left: 50px;
  justify-self: center;
  width: 264.57px;
  word-break: keep-all;
}

.footer__address .main__address {
  width: 260.7px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21.13px;
}

.footer__social-list {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  gap: 48px;
  width: 240px;
  margin-left: 27px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border-width: 1px;
}
